
  
 <div class="jumbotron" id='jumbotron_home'>
    <div class="container">
    </div>
 </div>

<div class="row" id='row_home'>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Créer son Projet</h3>
        <p>...</p>
        <p> <a href="#" class="btn btn-default" role="button">En Savoir +</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Partager son Événement ou Services</h3>
        <p>...</p>
        <p> <a href="#" class="btn btn-default" role="button">En Savoir +</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Créer son Shop </h3>
        <p>...</p>
        <p> <a href="#" class="btn btn-default" role="button">En Savoir + </a></p>
      </div>
    </div>
  </div>
</div>